/* External CSS targeting the first div */
.internal-style {
    background-color: yellow;
    color: blue;
    border-radius: 10px;
}

/* External CSS targeting the second div */
.internal-style-second {
    background-color: orange;
    color: green;
    border-radius: 5px;
}

/* External CSS targeting the third div */
.external-style {
    background-color: pink;
    color: purple;
    padding: 20px;
    border: 2px solid grey;
    border-radius: 15px;
}