@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap");
.container{
    margin: 70px;
    padding: 10px;
}
.heading{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 40px;
}
.para{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}
.img{
    width: 100%;
}